ul {
  margin: 0 auto;
  /*width: 500px;*/
  padding: 0;
  display: block;
}

li {
list-style-type: none;
display: inline-block;
}
/*@media (max-width: 600px) {*/

.calculator {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;

}

.screen {
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 10px;
  width: 100%

}

.numbers {
  width: 15%;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 10px;

}
.numbers input {
  width: 50px;
}

input {
  border: none;
  background: none;
  padding: 10px;
  font-size: 15px;
}

.operatorsBox {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 10px;
  width: 3%;

}
.operatorsBox ul li {
  display: inline-grid;
}

.otherButtons{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 10px;
  width: 5%;

}

.saveBox {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 10px;
  width: 15%;

}
#savedItems li {
  display: block;
}
