ul {
  margin: 0 auto;
  /*width: 500px;*/
  padding: 0;
  display: block;
}

li {
  list-style-type: none;
  display: inline-block;

}

input {
  border: none;
  background: none;
  padding: 10px;
  font-size: 15px;

}

.calculator {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  max-width: 550px;

}

.screen {
  display: flex;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 10px;
  width: 100%
}

.numbers {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 5px 30px;
  /*width: 40%;*/
  justify-content: space-between;
}


.numbers ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.numbers input {
  width: 65px;
}

.numbers

.operatorsBox {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 10px;

}
.operatorsBox ul {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  display: flex;
  flex-direction: column;
  display: inline-grid;
}

.otherButtons{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 10px;
  /*width: 15%;*/

}

.saveBox {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 10px;
  /*width: 25%;*/

}
#savedItems li {
  display: block;
}



/*tablet*/
@media (max-width: 580px) {

  .calculator {
    flex-wrap: wrap;
  }

  .screen {
  }

  .numbers {

    width: 70%;

  }



  .operatorsBox {
    flex-direction: column;
    flex-flow: column;
  }


  .otherButtons{
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .saveBox {
    display: flex;
    width: 100%
  }
}

/*phone*/
@media (max-width: 450px) {

  .calculator {
    max-width: 400px;
    flex-direction: column;
  }

  .screen {
  }

  .numbers {
    display: flex;
    width: 90%;
  }

  .operatorsBox {

    /*display: flex;*/
    flex-direction: row;
  }

  .operatorsBox ul {
    flex-direction: row;
    display: inline-flex;
    width: 105%;
    justify-content: center;
  }

  .otherButtons{

  }
  .saveBox {
    order: 5;
  }


}
