ul {
  margin: 0 auto;
  /*width: 500px;*/
  padding: 0;
  display: block;
}

li {
list-style-type: none;
display: inline-block;
}

input {
  border: none;
  background: none;
  padding: 10px;
  font-size: 15px;
}

.calculator {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 600px;

}

.screen {

  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 10px;
  width: 86%
}

.numbers {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 10px;
  width: 30%;
}
.numbers input {
  width: 50px;
}

.operatorsBox {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 10px;
  width: 5%;

}
.operatorsBox ul li {
  display: inline-grid;
}

.otherButtons{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 10px;
  width: 15%;

}

.saveBox {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 10px;
  width: 25%;

}
#savedItems li {
  display: block;
}


/*tablet*/
@media (max-width: 750px) {

  .calculator {
    flex-flow: row wrap;
  }
  /*.screen {
    order: <1>;
  }
  .numbers {
    order: 2;
  }
  .operatorsBox {
    order: 3;
  }

  .otherButtons{
    order: 4;
  }
  .saveBox {
    order: 5;
  }*/






/*phone*/
@media (max-width: 450px) {
.calculator {
  flex-flow: row wrap;
}
  .otherButtons{
  }
  .saveBox {
  }
  .operatorsBox {
  }
  .numbers {
  }
  .screen {
  }
